body {
    background-color: black;
}
pre {
    display: flex;
    flex-wrap: wrap;
    justify-content:
}

pre code {
    display: block;
    width: 500px;
    background-color: black;
    color:red;
}
